@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	/* --main-font-family: "Montserrat", serif; */
	--main-font-family: "Raleway", serif;

	--bg-color: hsl(210, 86%, 10%);
	--bg-color-15: hsl(210, 86%, 15%);
	--bg-color-20: hsl(210, 86%, 20%);
	--bg-second-color: hsl(82, 88%, 10%);
	--bg-second-color-15: hsl(82, 88%, 15%);
	--bg-second-color-20: hsl(82, 88%, 20%);

	--primary-color: hsl(0, 0%, 80%);
	--primary-color-50: hsl(0, 0%, 50%);

	--second-color: hsl(82, 88%, 74%);
}

body {
	font-family: var(--main-font-family);
	background-color: var(--bg-color);
	color: var(--primary-color);

	
}

@media (width < 1080px) {
	body {
		padding: 0 2rem;
	}
}

@media (width >= 1080px) {
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}



body > h2:first-of-type {
	padding-top: initial;
}

h2 > span {
	padding: 0 2rem;
}

h2 {
	max-width: initial;
}

/* MAIN */

#title > a {
	display: flex;
	gap: 3rem;
	text-decoration: none;
}


p, ol, ul, li {
	font-size: large;
}

.social {
	font-size: larger;
	max-width: fit-content;
	padding: .8rem 1rem;
	background-color: var(--bg-color-15);
}

.social > a {
	/* all: unset; */
	text-decoration: none;
}

.social > img {
	transform: translateY(0.45rem);
	width: 1.5rem;
	padding-right: .4rem;
}

/* WORKSHOP */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	max-width: 40rem;
	margin: 1rem;
	padding: 1rem;
	background-color: var(--bg-color-15);
}

.card-alt {
	background-color: var(--bg-second-color-15) !important;
}

.card:hover {
	background-color: var(--bg-color-15);
}

.card-alt:hover {
	background-color: var(--bg-second-color-20) !important;
}

.card a {
	/* all: unset; */
	text-decoration: none;
}

.card p {
	font-size: initial;
}

.card > h3 {
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
}

.workshop > h3 {
	color: white;
	margin-top: .5rem;
	margin-bottom: 0;
	padding-top: inherit !important;
}

.card > .autor {
	color: var(--primary-color-50);
	margin: .5rem 0;
}

.card > .desc {
	font-style: italic;
}

@media (width >= 1440px) {
	.card > .desc {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

.card > .desc > p {
	margin-top: 0;
}

.card:hover > .desc, .card-selected > .desc {
	font-style: italic;
	display: block;
	overflow: auto;
}

.card .icon {
	margin-right: 1rem;
}
