@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	/* --main-font-family: "Montserrat", serif; */
	--main-font-family: "Raleway", serif;

	--bg-color: hsl(210, 86%, 10%);
	--bg-color-15: hsl(210, 86%, 15%);
	--bg-color-20: hsl(210, 86%, 20%);

	--primary-color: hsl(0, 0%, 80%);
	--primary-color-50: hsl(0, 0%, 50%);

	--second-color: hsl(82, 88%, 74%);
}

body {
	font-family: var(--main-font-family);
	background-color: var(--bg-color);
	color: var(--primary-color);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


h2 {
	max-width: initial;
}

h2 > span {
	padding: 0 2rem;
}



/* WORKSHOP */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	max-width: 40rem;
	margin: 1rem;
	padding: 1rem;
	background-color: var(--bg-color-15);
}

.card:hover {
	background-color: var(--bg-color-15);
}

.card a {
	all: unset;
}



.card > h3 {
	color: white;
	margin-top: .5rem;
	margin-bottom: 0;
}

.card > .autor {
	color: var(--primary-color-50);
	margin: .5rem 0;
}

.card > .desc {
	font-style: italic;

	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.card > .desc:hover {
	font-style: italic;
	display: block;
	overflow: auto;
}